<!DOCTYPE html>
<html>
<head>
  <title>TvShowGuide</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>

	</header>

	<div id='tv_show_form'></div>
	<div id='tv_show_list'></div>
	<script>
		App = {
			Models: {},
			Views: {},
			Collections: {},
			TempData: {}
		};
	</script>

</body>
</html>
